body {
    font-family: Verdana, sans-serif;
    background-color: #C9A5AA;
}

.wrapper{
    width: 800px;
    margin: 0 auto;
}

a {
    color: #006EBE;
    text-decoration: none;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 24px;
}

span, p, a{
    font-size: 14px;
}

a:visited {
    color: #0B257D;
}

nav {
    background-color: #F4D3D3;
    text-align: center;
    padding: 1px 0;
    border-radius: 8px;
}

nav li {
    display: inline;
    padding: 6px 10px;
}
nav li a {
    padding: 6px 10px;
}

nav li a:hover {
    color: #5EAAE0;
    background-color: #FFFFFF;
    border-radius: 8px;
}

main {
    margin-top: 20px;
    background-color: #FFFFFF;
    padding: 30px 50px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.g{
    background-color: #E9E9E9;
    padding: 8px;
    border-radius: 8px;
    font-size: 12px;
}

figcaption {
    text-align: center;
    font-style: italic;
    font-size: 16px;
}

figure img {
    max-width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 8px;
}


figure {
    background: #F4D3D3;
    padding: 35px 30px 15px 30px;
    border-radius: 8px;
}

ol{
    list-style: none;
}

ol li:nth-child(odd) {
    padding: 5px 0;
    background: #F4D3D3;
    border-bottom: 1px solid #C9A5AA;
}

ol li:nth-child(even) {
    padding: 5px 0;
    background: #FFFFFF;
    border-bottom: 1px solid #C9A5AA;
}

ol li:nth-child(even) {

}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #F4D3D3;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

