* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --transition: 0.15s ease-in-out;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #0f172b;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem 1.5rem;
    position: relative;
}

.header {
    border-bottom: 1px solid #1d293d;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #0f172b;
}

.header-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    color: #2b7fff;
    font-weight: bold;
    line-height: 1.75rem;
    letter-spacing: 0;
}

.logo-white {
    color: #fff;
}

.btn-menu {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0;
    background-color: transparent;
    border: none;
    color: #c5d0dd;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.btn-menu:hover {
    color: #2b7fff;
    transition: var(--transition);
}

.hero {
    padding: 5rem 0;
}

.hero h1 {
    background: linear-gradient(to right, #50a2ff, #51c4ff);
    background-clip: text;
    color: transparent;
    font-size: 3.75rem;
    line-height: 3.75rem;
    letter-spacing: 0;
    margin-bottom: 1rem;
}

.hero p {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.5625rem;
    color: #90a1b9;
    letter-spacing: 0;
}

.hero svg {
    color: #122241;
    position: absolute;
    top: 5rem;
    right: 1.5rem;
    z-index: -1;
}


.fixed-chat-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 1.25rem;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.main-h2 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    letter-spacing: 0;
    color: #fff;
    padding: 1rem 0;
    border-bottom: 1px solid #1d293d;
}

.paths {
    display: grid;
    grid-auto-flow: row;
    gap: 1.5rem;
    padding: 2rem 0;
}

.path {
    border: 1px solid #314158;
    background-color: #1d293d;
    padding: 1.5rem;
    padding-top: 2.75rem;
    border-radius: 1rem;
    position: relative;
}

.path h2 {
    font-size: 1.5rem;
    line-height: 1.875rem;
    letter-spacing: 0;
    color: #fff;
    margin-bottom: 0.75rem;
}

.path p {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0;
    color: #90a1b9;
    margin-bottom: 1.5rem;
}

.in-path-cards{
    display: flex;
    gap: 0.5rem;
}

.in-path-cards span {
    border: 1px solid #41516a;
    border-radius: 0.5rem;
    padding: 0.25rem 0.75rem;
    background-color: #27374e;
    color: #71c3ff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0;
}


.mark {
    border-radius: 1rem;
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 0;
    padding: 0.25rem 0.75rem;
    color: #fff;
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.hot {
    background-color: #fb2c36;
}

.new {
    background-color: #00c950;
}

.trending {
    background-color: #2b7fff;
}

.reason-choose {
    display: grid;
    grid-auto-flow: row;
    gap: 1.5rem;
    padding: 2rem 0;
}

.choose-card {
    border: 1px solid #314158;
    background-color: #151f33;
    padding: 1.5rem;
    border-radius: 1rem;
}

.choose-card-logo {
    display: inline-block;
    font-size: 1.75rem;
    background: #1a325d;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.choose-card-name {
    font-size: 1.125rem;
    line-height: 1.75rem;
    letter-spacing: 0;
    color: #fff;
    margin-bottom: 0.5rem;
}

.choose-card-description {
    font-size: 0.9rem;
    line-height: 1rem;
    letter-spacing: 0;
    color: #90a1b9;
}

.roadmap {
    display: grid;
    grid-auto-flow: row;
    gap: 1.5rem;
    padding: 2rem 0;
}

.roadmap-card {
    background-color: #151f33;
    border: 1px solid #314158;
    border-radius: 1rem;
    padding: 1.5rem 1.5rem 1.5rem 3.5rem;
    position: relative;
}

.roadmap-card-point {
    position: absolute;
    left: 1.25rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1rem;
    height: 1rem;
    background-color: #2b7fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(43, 127, 255, 0.5);
}

.roadmap-card-name {
    display: flex;
    align-items: baseline;
    gap: 0.75rem;
    margin-bottom: 0.5rem;
}

.roadmap-card-name h3 {
    color: #fff;
    font-size: 1.25rem;
}

.roadmap-card-name span {
    color: #4b5a71;
    font-size: 0.875rem;
}

.roadmap-card p {
    color: #90a1b9;
    font-size: 1rem;
}

footer {
    border-top: 1px solid #1d293d;
    padding: 3rem 0;
    text-align: center;
    color: #90a1b9;
}

.logo-footer {
    margin-bottom: 1rem;
}

