* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", sans-serif;
}

:root {
    --main-color: #4f39fb;
    --main-hover: #3726c4;
    --footer-color: #101828;
    --footer-text: #99a1af;
    --text: #4a5565;
    --background: #e7eeff;
    --transition: all 0.2s ease;
}

main {
    background-color: var(--background);
}

header {
    background-color: white;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 16px 360px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.08);
}

.header-icon {
    font-size: 30px;
    line-height: 36px;
}

.header-title {
    line-height: 32px;
    font-size: 24px;
    font-weight: 650;
    color: var(--main-color);
}

.header-btn {
    padding: 12px 28px;
    border-radius: 12px;
    background-color: var(--main-color);
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: var(--transition);
}

.header-btn:hover {
    background-color: var(--main-hover);
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: inline-block;
    margin-right: 20px;
}

li a {
    text-decoration: none;
    color: var(--text);
    font-size: 16px;
    line-height: 24px;
}

li a:hover {
    color: var(--main-hover);
    transition: var(--transition);
}

.hero {
    display: grid;
    justify-content: center;
    text-align: center;
    padding: 64px 24px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 700;
}

.hero p {
    font-size: 20px;
    margin-top: 16px;
    color: var(--text);
}

.hero-btns{
    display: grid;
    grid-auto-flow: column;
    gap: 16px;
    margin: 32px 90px 0;
}

.btn {
    padding: 16px 24px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    border: 2px solid var(--main-color);
}

.btns-start {
    background-color: var(--main-color);
    color: white;
}

.btns-start:hover {
    background-color: var(--main-hover);
    transition: var(--transition);
}

.btns-more {
    background-color: white;
    color: var(--main-color);
}

.btns-more:hover {
    background-color: #eef2ff;
    transition: var(--transition);
}

.wrapper {
    margin: 0 360px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    padding: 24px 24px 64px;
}

.card {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    transition: var(--transition);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.card:hover {
    scale: 1.05;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.card hr {
    border: 0.5px solid #e5e5e5;
}

.card-icon {
    display: inline-block;
    font-size: 46px;
    margin-bottom: 16px;
}

.card-title {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 12px;
}

.card-desc{
    font-size: 17px;
    color: var(--text);
    margin-bottom: 16px;
}

.card-skill-p {
    font-size: 14px;
    color: #1e1e1e;
    margin: 16px 0 8px 0;
}
.card-skill-name {
    display: inline-grid;
    font-size: 14px;
    color: var(--main-color, #4f46e5);
    padding: 6px 12px;
    border-radius: 16px;
    background-color: #e0e7ff;
    white-space: nowrap;
    margin-right: 4px;
    margin-bottom: 8px;
}
footer {
    background-color: var(--footer-color);
    padding: 48px 385px;
    color: var(--footer-text);
}

footer h3 {
    color: white;
    font-weight: 600;
    margin-bottom: 16px;
}

.footer-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.footer-it-logo {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 10px;
}


.footer-bottom {
    margin-top: 32px;
    text-align: center;
}

.footer-links ul {
    display: grid;
    grid-auto-flow: row;
    gap: 12px;
}

.footer-links ul li a,
.footer-contacts ul li a {
    color: var(--footer-text);
}

.footer-contacts ul {
    display: grid;
    grid-auto-flow: row;
    gap: 12px;
}

.footer-socials-icons {
    display: grid;
    gap: 16px;
}

.footer-socials-icons h3 {
    margin-bottom: 0;
}

.footer-socials ul {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    gap: 16px;
}

.footer-socials ul li a {
    font-size: 24px;
    line-height: 1;
}

.footer-socials {
    display: grid;
    gap: 32px;
}

.footer-social-input {
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #364153;
    background-color: #1e2939;
    color: var(--footer-text);
    outline: none;
    flex-grow: 1;
}

.footer-subscription p {
    margin-bottom: 12px;
}

.footer-subscription-form {
    display: flex;
    gap: 8px;
    align-items: stretch;
}

.footer-social-btn {
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
}

.footer-social-btn:hover {
    background-color: var(--main-hover);
}

.footer-bottom hr {
    border: 0;
    border-top: 1px solid #364153;
    margin-bottom: 24px;
}

footer ul li {
    margin-right: 0;
}