* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --transition: 0.15s ease-in-out;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #0f172b;
}

.wrapper {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem 1.5rem;
    position: relative;
}

.header {
    border-bottom: 1px solid #1d293d;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #0f172b;
}

.header-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    color: #2b7fff;
    font-weight: bold;
    line-height: 1.75rem;
    letter-spacing: 0;
}

.logo-white {
    color: #fff;
}

.btn-menu {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0;
    background-color: transparent;
    border: none;
    color: #c5d0dd;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.btn-menu:hover {
    color: #2b7fff;
    transition: var(--transition);
}

.hero {
    padding: 5rem 0;
}

.hero h1 {
    background: linear-gradient(to right, #50a2ff, #51c4ff);
    background-clip: text;
    color: transparent;
    font-size: 3.75rem;
    line-height: 3.75rem;
    letter-spacing: 0;
    margin-bottom: 1rem;
}

.hero p {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.5625rem;
    color: #90a1b9;
    letter-spacing: 0;
}

.hero svg {
    color: #122241;
    position: absolute;
    top: 5rem;
    right: 1.5rem;
    z-index: -1;
}


.fixed-chat-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #2b7fff;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 1.15rem;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: var(--transition);
}

.fixed-chat-btn:hover {
    background: #155dfc;
    transform: scale(1.08);
}

.main-h2 {
    position: sticky;
    top: 3.75rem;
    z-index: 90;
    background-color: rgba(15, 23, 43, 0.85);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    font-size: 1.875rem;
    line-height: 2.25rem;
    letter-spacing: 0;
    color: #fff;
    margin: 0 -1.5rem;
    padding: 1.75rem 1.5rem 1rem 1.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    transition: var(--transition);
}

.paths {
    display: grid;
    grid-auto-flow: row;
    gap: 1.5rem;
    padding: 2rem 0;
    margin-bottom: 3rem;
}

.path {
    border: 1px solid #314158;
    background-color: #1d293d;
    padding: 3.25rem 1.5rem 1rem 1.5rem;
    border-radius: 1rem;
    position: relative;
    transition: var(--transition);
}

.path:hover {
    border-color: #2b7fff;
    box-shadow: 0 0 30px rgba(43, 127, 255, 0.4);
}

.path h2 {
    font-size: 1.5rem;
    line-height: 1.875rem;
    letter-spacing: 0;
    color: #fff;
    margin-bottom: 0.75rem;
}

.path p {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0;
    color: #90a1b9;
    margin-bottom: 1.5rem;
}

.in-path-cards{
    display: flex;
    gap: 0.75rem;
    flex-wrap: wrap;
}

.in-path-cards span {
    border: 1px solid #41516a;
    border-radius: 0.5rem;
    padding: 0.25rem 0.75rem;
    background-color: #27374e;
    color: #71c3ff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0;
}


.mark {
    border-radius: 1rem;
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 0;
    padding: 0.25rem 0.75rem;
    color: #fff;
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.hot {
    background-color: #fb2c36;
}

.new {
    background-color: #00c950;
}

.trending {
    background-color: #2b7fff;
}

.reason-choose {
    display: grid;
    grid-auto-flow: row;
    gap: 1.5rem;
    padding: 2rem 0;
    margin-bottom: 3rem;
}

.choose-card {
    border: 1px solid #314158;
    background-color: #151f33;
    padding: 1.5rem 1.5rem 1rem 1.5rem;
    border-radius: 1rem;
}

.choose-card-logo {
    display: inline-block;
    font-size: 1.75rem;
    background: #1a325d;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.choose-card-name {
    font-size: 1.125rem;
    line-height: 1.75rem;
    letter-spacing: 0;
    color: #fff;
    margin-bottom: 0.5rem;
}

.choose-card-description {
    font-size: 0.9rem;
    line-height: 1rem;
    letter-spacing: 0;
    color: #90a1b9;
}

.roadmap {
    display: grid;
    grid-auto-flow: row;
    gap: 1.5rem;
    padding: 2rem 0;
    margin-bottom: 5rem;
}

.roadmap-card {
    background-color: #1d293d;
    border: 1px solid #314158;
    border-radius: 1rem;
    padding: 1.5rem 1.5rem 1rem 2.7rem;
    position: relative;
    transition: var(--transition);
}

.roadmap-card:hover {
    border-color: #2b7fff;
}

.roadmap-card-point {
    position: absolute;
    left: -0.625rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1.25rem;
    height: 1.25rem;
    background-color: #2b7fff;
    border-radius: 50%;
    border: 3px solid #0f172b;
}

.roadmap-card-name {
    display: flex;
    align-items: baseline;
    gap: 1rem;
    margin-bottom: 0.5rem;
}

.roadmap-card-name h3 {
    color: #fff;
    font-size: 1.125rem;
    line-height: 1.75rem;
    letter-spacing: 0;
}

.roadmap-card-name span {
    color: #62748e;
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 0;
}

.roadmap-card p {
    color: #90a1b9;
    font-size: 0.875rem;
    line-height: 1rem;
    letter-spacing: 0;
}

footer {
    border-top: 1px solid #1d293d;
    padding: 3rem 0;
    text-align: center;
    color: #90a1b9;
}

.logo-footer {
    margin-bottom: 1rem;
}

@media (min-width: 768px) {
    .paths {
        grid-template-columns: repeat(2, 1fr);
    }

    .reason-choose {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1024px) {
    .paths {
        grid-template-columns: repeat(3, 1fr);
    }
}

